[submodule "lib/pyth-sdk-solidity"]
	path = lib/pyth-sdk-solidity
	url = https://github.com/pyth-network/pyth-sdk-solidity
[submodule "lib/foundry-chainlink-toolkit"]
	path = lib/foundry-chainlink-toolkit
	url = https://github.com/smartcontractkit/foundry-chainlink-toolkit
